{% extends "locations/location_base.html" %}
{% block body_block %}
  <h1>List of all location types</h1>
  <ul>
    {% for location_type in locationtype_list %}
      <h2><li><a href="{{location_type.id}}">{{location_type.name}}</a></li></h2>
    {% endfor %}
  </ul>
{% endblock %}
