{% extends "locations/location_base.html" %}
{% block body_block %}
  <h1>Location Details:</h1>
  <p><b>Name:</b>{{location.name}}</p>
  <p><b>Description:</b>{{location.description}}</p>
  <p><b>Photo:</b>{{location.photo}}</p>
  <p><b>X:</b>{{location.coordinate_x}}</p>
  <p><b>Y:</b>{{location.coordinate_y}}</p>
  <p><b>Z:</b>{{location.coordinate_z}}</p>

{% endblock %}
