{% extends "locations/location_base.html" %}
{% block body_block %}
  <h1>Nearby locations:</h1>
  {% for location in location_list %}
    <h2><a href="{{location.id}}">{{location.name}}</a></h2>
  {% endfor %}
{% endblock %}
