{% extends "locations/location_base.html" %}
{% block body_block %}
  <h1>Location Type Details:</h1>
  <p><b>Name:</b>{{locationtype.name}}</p>
  <p><b>Description:</b>{{locationtype.description}}</p>

{% endblock %}
