{% extends "base.html" %}
{% load staticfiles %}

{% block body_block %}
  <div class="jumbotron">
    {% if registered %}
      <h1>Thank you for registering!</h1>
    {% else %}
      <h1>Register here!</h1>
      <h3>Fill out the form:</h3>
      <form class="post" enctype="multipart/form-data" action="{% url 'beercount:register' %}" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="" value="Register">
      </form>
    {% endif %}
  </div>

{% endblock %}
