{% extends "beer_locations/beer_locations_base.html" %}

{% block body_block %}
  <h1>List of beers you can get nearby and their prices:</h1>
  <table class="table table-striped">
    {% for beerlocation in beerlocation_list %}
      <tr>
          <td><a href="/beer/{{beerlocation.beer.id}}">{{beerlocation.beer.name}}</a></td>
          <td><a href="/locations/{{beerlocation.location.id}}">{{beerlocation.location.name}}</a></td>
          <td>{{beerlocation.price}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
