{% extends "base.html" %}
{% block body_block %}
  <div class="jumbotron">
    <h1>Welcome to BeerD</h1>
    <h2>A place where you can find best quality beer at the best price, near you</h2>
  </div>
{% endblock %}
