{% extends "beer/beer_base.html" %}
{% block body_block %}
  <h1>List of all the beer types!</h1>
  <ol>
    {% for beer_type in beertype_list %}
      <h2><li><a href="{{beer_type.id}}">{{beer_type.name}}</a></li></h2>
    {% endfor %}
  </ol>
{% endblock %}
