{% extends "beer/beer_base.html" %}
{% block body_block %}
  <h1>List of the beers you can get nearby:</h1>
  {% for beer in beer_list %}
    <h2><a href="{{beer.id}}">{{beer.name}}</a></h2>
  {% endfor %}
{% endblock %}
