{% extends "beer/beer_base.html" %}
{% block body_block %}
<h1>Beer Type Details:</h1>
<p><b>Name:</b> {{beertype.name}}</p>
<p><b>Description:</b> {{beertype.description}}</p>
  <h3>Beers of this type</h3>
<ul>
  {% for beer in beertype.beers.all %}
      <li><a href="{% url 'beer:detail' pk=beer.id %}">{{beer.name}}</a></li>
  {% endfor %}
</ul>
{% endblock %}
