{% extends "beer/beer_base.html" %}
{% block body_block %}
<h1>Beer Details:</h1>
<p><b>Name:</b> {{beer.name}}</p>
<p><b>Beer description:</b> {{beer.description}}</p>
<p><b>Beer type:</b> <a href="{% url 'beer:beertypedetail' pk=beer.beer_type.id %}">{{beer.beer_type.name}}</a></p>
<p><b>Beer type description:</b> {{beer.beer_type.description}}</p>
{% endblock %}
