{% extends "ratings/rating_base.html" %}
{% block body_block %}
  <h1>Ratings list:</h1>

  <table class="table table-striped">
    {% for rating in rating_list %}
    <tr>
      <td><a href="{{rating.id}}">{{rating.title}}</a></td>
      <td>{{rating.rating_numeric}}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
